.header {
    position: relative;
    width: 100%;
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center/1.5rem
}